
.store-wrapper {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: "items avatar items";
    margin-top: 50px;
}
.items-wrapper {
    display: "grid";
    /* grid-area: items; */
    width: "100%";
    border: "1px solid #e1984d";
    border-radius: "3%";
    margin-top: "20px";
}

.items-grid {
    display: "grid";
    grid-gap: "10px";
    /* grid-template-columns: "repeat(auto-fill, minmax(130px, 1fr)"; */
    grid-template-columns: "repeat(4, 20%)";
    padding: "5px";
}
.avatar {
    width: 80%;
}