
.store-wrapper {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: "items avatar items";
    margin-top: 50px;
}

.items-wrapper {
    display: grid;
        border: 1px solid black;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        margin: 0 auto;       
        transform: scale3d(95%, 95%, 100%);
}

.items-grid {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    /* grid-template-columns: "repeat(auto-fill, minmax(130px, 1fr)"; */
    grid-template-columns: repeat(4, 20%);
    padding: 5px;
    /* border: 1px solid black; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.avatar img {
    width: 100%;
}