.wrapper-team {
  padding: 0 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.team-header {
  text-align: center;
  padding: 0 30px;
}

.team-welcome {
  font-size: 16px;
  line-height: 20px;
}

.team-member-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 475px 475px;
  justify-items: center;
}

.team-member-card {
  text-align: center;
  position: relative;
  width: 300px;
}

.team-member-data {
  padding: 5px;
}

.team-member-description {
  padding: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #f2f2f2;
  position: absolute;
  top: 73%;
  left: 0;
}

.icon {
  margin: 10px;
}

.img {
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 40px 0 20px 0;
  object-fit: cover;
  width: 245px;
  height: 245px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #000;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.img:hover {
  box-shadow: 0px 10px 30px;
  transform: scale(1.1);
}
