.chat-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat input {
  width: 50%;
  box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
  padding: 10px 5px;
  font-family: inherit;
}

.chat {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f4f6;
  width: 100%;
}

.chat_userinfo {
  margin: 10px 0 0;
  word-break: break-word;
}

.chat_input {
  background-color: #f5f4f6;
  border: none;
}

.chat_button {
  background-color: #f5f4f6;
  color: black;
  box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
  margin-left: 8px;
}

.chat_messages {
  height: 300px;
  overflow: scroll;
}
