.message_view {
  margin: 5px;
  padding: 0 10px 0;
  border-color: black;
  border-radius: 10px;
  border-style: dotted;
  width: fit-content;
  word-break: break-word;
  font-size: 15px;
  line-height: 25px;
}
