.arrow {
  background-color: inherit;
  font-size: 45px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: 0.8s;
}

.arrow svg:hover {
  color: red;
  transform: scale(1.5);
  transition: 0.5s;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

:root {
  --color-primary-green: #315e3c;
  --color-primary-dark-green: #315e3c;
  --color-secondary-gray: #2e2c2f;
  --color-grey-light: #f2f2f2;
  --color-grey-dark: #857891;
  --color-grey-dark-1: #333;
  --color-red: #f14156;
  --color-dark-red: #ab0d1f;
  --color-yellow: #f9c610;
  --color-dark-yellow: #f9c610;
  --color-blue: #0e79b2;
  --color-dark-blue: #094d71;
  --box-shadow-1: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --font-metamorphous: "Metamorphous";
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: 16px;
  background-color: var(--color-grey-light);
}

.App {
  position: relative;
}

.wrapper {
  display: flex;
  perspective: 500px;
  height: 400px;
  justify-content: center;
}
.wrapper-choosing-race {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  background-color: var(--color-primary-dark-green);
  text-align: center;
  box-shadow: var(--box-shadow-1);
  position: relative;
  z-index: 10;
  grid-column: 1/-1;
}

.logo {
  padding: 20px 0;
  width: 300px;
}

.content {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-auto-rows: auto 1fr;
  background-color: var(--background-color-light);
  min-height: 100vh;
}
.nav {
  background-color: var(--color-grey-dark-1);
  padding-top: 50px;
  color: #fff;
}

.navigation__list {
  list-style-type: none;
  text-align: center;
}

.navigation__item {
  font-size: 18px;
  background-color: var(--color-primary-green);
  cursor: pointer;
  padding: 10px 5px;
  width: 80%;
  margin: 5px auto;
  transition: all 0.2s;
}

.navigation__item:hover {
  background-color: #cf873e;
}

.main__section {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.welcome {
  text-align: center;
  font-family: var(--font-metamorphous);
  margin-bottom: 35px;
}

.card {
  border: 1px solid black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 210px;
  margin: 0 auto;
  min-height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  filter: blur(5px);
  transform: scaleX(0.5) scaleY(0.8);
  transition: transform 800ms;
  opacity: 0.4;
  z-index: 2;
}

.selected {
  display: block;
  border: 4px solid var(--color-dark-yellow);
  box-shadow: 0px 0px 20px 15px rgba(255, 253, 131, 0.1);
  max-width: 210px;
  margin: 75px auto;
  min-height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  flex-grow: 1;
  transform: ScaleX(1.4) scaleY(1.2) rotate3d(1, 1, 0, 360deg);
  transition: transform 800ms;
  opacity: 1;
}

.selected:hover {
  box-shadow: 0px 0px 20px 15px rgba(249, 198, 16, 0.4);
}

.slider {
  width: 80%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.change__race {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  font-size: 70px;
  color: var(--color-secondary-gray);
  transition: all 0.5s;
}

.change__race:first-of-type {
  transform: scalex(-1);
  left: -5%;
}

.change__race:last-of-type {
  top: 50%;
  right: -8%;
}

.change__race:hover {
  color: var(--color-primary-green);
}

.wrapper__desc {
  margin: 25px;
  display: flex;
  padding: 30px 0;
  justify-content: center;
  flex-direction: column;
}

.description {
  width: 80%;
  text-align: justify;
  hyphens: auto;
  align-self: center;
  margin: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
}

.race__name {
  text-align: center;
}

.bonus {
  width: 80%;
  text-align: justify;
  align-self: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.bonus__title {
  text-align: center;
}

.choose__race {
  align-self: center;
  border: 3px solid red;
  background-color: white;
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 20px 50px;
  cursor: pointer;
  margin-top: 18px;
  position: relative;
}

.choose__race:hover {
  background-color: red;
  color: white;
  transition-delay: 0.3s;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
}

.hunting-screen {
  display: grid;
  place-items: center;
  gap: 40px;
  padding: 0 25px;
  grid-row: 2/3;
}

.hunting__screen-main {
  width: 100%;
  text-align: center;
}

.hunting__screen-description {
  padding: 5px 0;
}

.hunting__screen--level_description p {
  text-align: left;
}

.hunting__screen--choose_level {
  display: inline-flex;
  flex-flow: row;
}
.hunting__screen--choose_level label {
  padding: 5px 20px;
}

.hunting__screen--choose_ways {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.hunting__screen--choose_ways a {
  width: 30%;
  text-decoration: none;
  color: inherit;
}

.hunting__screen--level_description {
  display: flex;
  flex-flow: column;
  align-items: center;

  height: 15vh;
  padding: 20px 0;
}

a {
  color: var(--color-red);
  font-weight: 400;
  text-decoration: underline;
  transition: all 2s;
}

a:hover {
  color: var(--color-dark-red);
}

button {
  all: unset;
  cursor: pointer;
}

.btn {
  font-size: 18px;
  padding: 10px 40px;
  transition: all 0.1s;
  font-family: var(--font-metamorphous);
}

.btn-small {
  font-size: 12px;
  padding: 0 25px;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn-bright {
  background-color: var(--color-grey-light);
  border-bottom: 3px solid (var(--color-grey-dark));
}

.btn-red {
  background-color: var(--color-red);
  color: #fff;
  border-bottom: 3px solid var(--color-dark-red);
}

.btn-green {
  background-color: var(--color-primary-green);
  color: #fff;
  border-bottom: 3px solid var(--color-primary-dark-green);
}

.btn-yellow {
  background-color: var(--color-yellow);
  border-bottom: 3px solid var(--color-dark-yellow);
}

.btn-blue {
  background-color: var(--color-blue);
  color: #fff;
  border-bottom: 3px solid var(--color-dark-blue);
}

.margin-right-medium {
  margin-right: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Metamorphous";
}

h1 {
  font-size: 32px;
}
