.hidden {
  display: none;
}

.registration__form {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-around;
}
.form__input:nth-child(2n) {
  flex-grow: 1;
}

/*  MODAL  */

.modal {
  grid-row: 2/3;
  padding: 30px;
  background: #fafafa;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  text-align: center;
}

label {
  margin-top: 20px;
  text-align: left;
}

input {
  margin: 8px 0;
  padding: 8px 2px;
  border-width: 0 0 2px 0;
  width: 100%;
  outline: none;
  background-color: #fafafa;
  font-family: inherit;
  font-size: 15px;
  transition: all 0.2s;
}

input:focus {
  border-color: #315e3c;
}

label[for="logIn-password"] {
  margin-bottom: 15px;
}

.user-action {
  margin-top: 15px;
}

.auth {
  width: 60vw;
  height: 80vh;
  position: fixed;
  background-color: #181619;
  display: none;
  z-index: 1;
}

.auth a {
  text-decoration: underline;
  cursor: pointer;
}
.auth .modal {
  display: none;
}
.auth .modal.active {
  display: block;
}
.error p {
  margin-top: 20px;
  color: red;
}
